<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Unauthorized access!</title>
      <link rel="stylesheet" href="/css/unAuth.css" />
   </head>
   <body>
      <h1>Unauthorized access!</h1>
      <br />
      <h3>Please Login to continue...</h3>
      <a class="login" href="/">Go Back</a>
   </body>
</html>
